{deps, [
    jsx,
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.2.2"}}},
    lager
]}.

{relx, [{release, {hemlock, "0.0.1"},
    [hemlock]},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.
